@import url(https://fonts.googleapis.com/css?family=lato&display=swap);

* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: floralwhite;
    overflow-x: hidden;
    color: rgb(25, 22, 22);
    margin: 0;
}
.container {
    background-color: rgb(255, 255, 255);
    transform-origin: top left;
    transition: transform 0.8s linear;
    width: 100vw;
    min-height: 100vh;
    padding: .4in;
}
.container.show-nav {
    transform: rotate(-20deg);
}
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle {
    background-color: rgb(43, 152, 43);
    height: 200px;
    width: 200px;
    border-radius: 40%;
    position: relative;
    transition: transform 0.5s linear;
}
.circle button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: white;
}
.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}
.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.content img{
    max-width: 100%;
}

